

.Dialog_file {
    display: flex;
    }

.drop_file_Index {
box-sizing: border-box;
.drop-file-input {
    position: relative;
    // width: 800px;
    height:250px;
    border: 4px solid var(--border-color);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--input-bg);
    box-shadow: 0 0 0 2px #d7dbdb;
}

.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}

.drop-file-input__label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 100px;
    mix-blend-mode: darken;
    opacity: 2;
}

.drop-file-preview {
    margin-top: 30px;
    // box-shadow: 0 0 0 1px #d7dbdb;
    // display: flex

}

.drop-file-preview p {
    font-weight: 500;
}



.drop-file-preview__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    background-color: var(--input-bg);
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 0 1px #d7dbdb;
}

 .drop-file-preview__item img {
    width: 25px;
    height: 25px;

}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
}
.drop-file-preview__title {
    margin-bottom: 20px;
    width: 20px;
    height: 13px;
   
}
.drop-file-preview__item_index{
    display: flex;
     width: 5rem;
     justify-content:space-between;
     align-items: center
}
.drop-file-preview__item__del {
    background-color: var(--box-bg);
    width: 20px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    // align-items: center;
    // justify-content: center;
    // position: absolute;
    // right: 10px;
    // top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 2;
}
}