.accountDetail {
  text-transform: inherit;
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
}
.accountDetail:hover {
  color: rgb(110, 102, 184);
}

.logout_button {
  text-transform: inherit;
//   font-size: 16px;
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
}
.logout_button:hover {
    color: rgb(110, 102, 184);
  }
